<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senera Flowers</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
	<link href="{% static 'css/full-slider.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/base.css' %}" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block links %}{% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Senera Flowers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bouqets/">Все букеты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart/">Ваша корзина</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/registration/">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/dashboard/">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login/">Вход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    {% block content %}{% endblock %}


    <!-- Footer -->
    <hr>
    <footer class="py-5">
        <div class="container base_container_footer">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 base_quick-links">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled base_quick-links-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 base_image_footer">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Logo-GoogleFonts-color-background.png" alt="logo" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-12 col-md-4 base_email_footer">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Подписка на акции</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите свой email">
                      </div>
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>

</html>