{% extends 'base/base.html' %}
{% load raw_html %}

{% load static %}
{% block links %}
    <link href="{% static 'css/main_page.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/949582/pexels-photo-949582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>First Slide</h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/207172/pexels-photo-207172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second Slide</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/5971/hands-people-woman-flowers.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third Slide</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <div class="row circles">
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <!--<h3>Скорость</h3>-->
          <!--<p>Здесь преимущества компании</p>-->
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-6 text-center">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-6 text-center">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        </div>
    </div>

    <h1 class="page-header">Популярные категории</h1>

    <div class="container top_category">
        <div class="row">
            <div id="top_1" class="col-md-6 col-sm-6 col-xs-12 top_block_category">
                <div class="category-item">
                    <a href="/">
                        <img src="https://images.pexels.com/photos/733883/pexels-photo-733883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="yoga free demo collection 1" class="img-responsive">
                    </a>
                    <div class="category-item-description">
                        <h4><a href="/">Букеты из роз</a></h4>
                    </div>
                </div>
            </div>
            <div id="top_2" class="col-sm-6 col-md-6 col-xs-12 top_block_category">
                <div class="category-item">
                    <a href="/">
                        <img src="https://images.pexels.com/photos/122734/pexels-photo-122734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="yoga free demo collection 1" class="img-responsive">
                    </a>
                    <div class="category-item-description">
                        <h4><a href="/">Ко дню всех влюбленных</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="middle_1" class="col-md-4 col-sm-4 col-xs-12 top_block_category">
                <div class="category-item">
                    <a href="/">
                        <img src="https://images.pexels.com/photos/265815/pexels-photo-265815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="yoga free demo collection 1" class="img-responsive">
                    </a>
                    <div class="category-item-description">
                        <h4><a href="/">С Днем Рождения</a></h4>
                    </div>
                </div>
            </div>
            <div id="middle_2" class="col-md-4 col-sm-4 col-xs-12 top_block_category"><div class="category-item">
                    <a href="/">
                        <img src="https://images.pexels.com/photos/343232/pexels-photo-343232.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="yoga free demo collection 1" class="img-responsive">
                    </a>
                    <div class="category-item-description">
                        <h4><a href="/">Букет из пионов</a></h4>
                    </div>
                </div></div>
            <div id="middle_3" class="col-md-4 col-sm-4 col-xs-12 top_block_category"><div class="category-item">
                    <a href="/">
                        <img src="https://images.pexels.com/photos/289519/pexels-photo-289519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="yoga free demo collection 1" class="img-responsive">
                    </a>
                    <div class="category-item-description">
                        <h4><a href="/">На все случаи</a></h4>
                    </div>
                </div></div>
        </div>
    </div>

    <div class="container main_about">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main_text_about">
                <h2>SeneraFlowers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deleniti expedita, facilis fugit in
                    nostrum quos sed! Aliquam atque aut deleniti dignissimos earum maiores provident, quisquam saepe
                    similique soluta, voluptatibus!</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 main_image_about">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Logo-GoogleFonts-color-background.png"
                     alt="Image" class="img-responsive">
            </div>
        </div>
    </div>

{% endblock %}