{% extends 'base/base.html' %}
{% load raw_html %}

{% load static %}
{% block links %}
    <link href="{% static 'css/page_tags.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container page_tag_container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 page_tag_filter">
                <h3 class="d-none d-lg-block d-md-block">Filter</h3>
                    <ul>
                        <li class="d-sm-inline-block"><a href="/all/">Все букеты</a></li>
                        {% for tag in tags %}
                            <li><a href="{{ tag.get_absolute_url}}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 page_tag__products">
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 page_tag_product">
                            <div class="cart_product">
                                {% with product.photos.all|first as act %}
                                    {% if act %}
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ act.photo.url }}"
                                                                                      alt="{{ act.alt }}" style="width: 100%;">
                                        </a>
                                    {% endif %}
                                {% endwith %}
                                <div class="row">
                                    <div class="col-8">
                                        <h2 class="cart-title">
                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </h2>
                                        {% for option in product.options.options %}
                                            {% with option.values|first as first_price %}
                                                <p class="page_tag_price">
                                                    <i class="fas">От {{ first_price.price_corrector }}</i>
                                                    <i class="fas fa-ruble-sign fa-0.5x"></i>
                                                </p>
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-4 page_sale">
                                        {% with product.sale_product.all|first as first %}
                                            {% if first %}
                                            <i class="fas">-{{ first.value }}</i> <i class="fas {{ first.choice.value }}"></i>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}