{% extends 'base/base.html' %}
{% load raw_html %}

{% load static %}
{% block links %}
    <link href="{% static 'css/page_product.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container product">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>{{ product.name }}</h2>
                <div class="links">
                    {% for tag in product.tags.all %}
                        <div class="link"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a>&nbsp;</div>
                    {% endfor %}
                </div>
                <div class="product_image">
                    {% for product_photo in product.photos.all %}
                        {{ product_photo.image_tag|safe }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Описание</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut culpa cum, debitis distinctio dolor eius illo iste magnam minus neque perferendis quas quasi qui quidem repudiandae tempora voluptas voluptatum!</p>
                {% for option in product.options.options %}
                    {% for value in option.values %}
                        <div class="row product_price">
                            <form class="form-group" action="{% url "cart:CartAdd" product.id value.value %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">{{ value.value }}</button>
                            </form>
                            <h6><i class="fas">{{ value.price_corrector }}</i> <i class="fas fa-ruble-sign"></i></h6>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% with product.sale_product.all|first as first %}
                    {% if first %}
                    При заказе этого букета вы получите скидку <i class="fas">{{ first.value }}</i> <i class="fas {{ first.choice.value }}"></i>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}