{% extends 'base/base.html' %}

{% load static %}
{% block links %}
    <link href="{% static 'css/cart.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cart_validation_form.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container cart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row">
                {% for item in cart %}
                    <div class="col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-6">
                                <h2>{{ item.product.name }}</h2>
                                <div class="product_image">
                                    {% with image=item.product.photos_thumbnail %}
                                        {{ image.image_tag|safe }}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <ul class="p-0">
                                    <li><i class="fas fa-gift"></i> {{ item.quantity }}</li>
                                    <li><i class="fas fa-chart-pie"></i> {{ item.type }}</li>
                                    <li><i class="fas fa-ruble-sign"></i> {{ item.total_price }}</li>
                                    <li><i class="fas fa-trash"></i> <a href="{% url 'cart:CartRemove' item.product.id item.type %}">Удалить</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% empty %}

                    <h3>Начните покупку с <a href="/all">лучших букетов</a></h3>
                {% endfor %}
                <p>{{ cart.summary }}</p>,
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <form  action="{% url 'order:Order' %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <h3>Получатель</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form.first_name }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.last_name }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.number_phone }}
                        </div>
                    </div>
                    <h3>Адрес доставки</h3>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            {{ form.region }}
                            <div class="invalid-feedback">
                                Введите регион доставки
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.city }}
                            <div class="invalid-feedback">
                                Введите город доставки
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.street }}
                            <div class="invalid-feedback">
                                Введите улицу
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            {{ form.house_number }}
                            <div class="invalid-feedback">
                                Введите номер дома
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            {{ form.housing_number }}
                        </div>
                        <div class="col-md-3 mb-3">
                            {{ form.apartament_number }}
                        </div>
                    </div>
                    <h3>Отправитель</h3>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.first_name_sender }}
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.email_sender }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.phone_sender }}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}