<html>
{% load pass %}

<body>
    <h1>Онлайн-магазин</h1>
    <p>
        Номер заказа: <b>{{ order.id }}</b>
        <br>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-6 buyer">
                <h3>Покупатель</h3>
                <p>{{ order.first_name_sender }}
                    <br> {{ order.phone_sender }}
                    <br> {{ order.email_sender }}
                </p>
            </div>
            <div class="col-6 recipient">
                <h3>Получатель</h3>
                <p>{{ order.first_name }}&nbsp;{{ order.last_name|pass_value }}
                    <br>{{ order.number_phone }}
                    <br>{{ order.region|pass_value }} {{ order.city }} {{ order.street }}
                    {{ order.house_number|pass_value }} {{ order.housing_number|pass_value }} {{ order.apartament_number|pass_value }}
                </p>

            </div>
        </div>
        <h3>Купленные товары</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Стоймость</th>
                    <th>Количество</th>
                    <th>Общая сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Всего: {{ result }}</h4>
    </div>
</body>

</html>