body {
    font-family: 'Open Sans', sans-serif;
}

/* Color in header */

.fixed-top {
    background-color: #FF8B94;
}

/* spacing between links in footer*/
ul.base_quick-links-list {
    height: 75%;
    margin: 0;
}

ul.base_quick-links-list li{
    margin: 2vh 0 0 0;
}

ul.base_quick-links-list a{
    margin: 0 8px;
}

/* Align image in footer */

.base_image_footer {
    display: block;
    margin: auto;
    text-align: center;
}

.base_image_footer img{
    max-width: 75%;
}

.base_email_footer {
    display: block;
    margin: auto;
}

/* position div block in footer mobile version */

@media (max-width: 576px){
    div.base_image_footer {
        max-width: 50% !important;
        padding: 0;
    }
    .base_quick-links {
        max-width: 50%;
    }
}

@media (max-width: 768px){
    .base_email_footer {
        margin-top: 25px;
    }
}