.circles {
    padding: 20px;
}

.circles div {
    margin: 20px 0;
}

.circles div img {
    width: 50%;
}

.category-item {
    border-radius: 20px;
}

.category-item-description{
    text-align: center;
    padding: 20px;
}

.category-item a img {
    max-width: 100%;
    box-shadow: 0 0 15px #6c757d;
}

img.img-responsive:hover {
    opacity: 0.5;
}

.page-header {
    text-align:center;
    margin: 5vh 0;
}

@media (max-width: 767px)
    .page-header:after {
        display: none;
    }

@media (max-width: 767px)
    .page-header:before {
        display: none;
    }

.page-header:before {
    border: 1px solid #8c8c8c;
    content: '';
    display: inline-block;
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -10px;
}

.page-header:after {
    border: 1px solid #8c8c8c;
    content: '';
    display: inline-block;
    width: 30px;
    margin-left: 20px;
    position: relative;
    top: -10px;
}



.main_about{
    margin: 5vh auto;
}

.main_about img{
    width: 85%;
}

.main_image_about{
    display: block;
    margin: auto;
    text-align: center;
}

width: 50%;
    padding: 0;

