
.page_tag_container {
    margin-top: 12vh;
}

.page_tag_filter ul {
    padding: 0 0 0 8px;
}

.page_tag_filter ul li{
    list-style: none;
}

.col-md-6 {
    margin: auto;
}

.cart_product {
    border-bottom: 1.3px solid #c5c5c5;
}

.page_tag_product {
    margin: 20px auto;
}

.cart-title a{
    font-size: 18px;
}

.page_sale {
    margin: auto;
    padding: 0;
}