.container.product {
    padding-top: 12vh;
}

.links {
    display: flex;
}

.product img {
    max-width: 100%;
    text-align: center;
}

.product_image {
    text-align: center;
}

.product h6 {
    margin: auto;
}

.product button {
    margin: auto;
    width: 100px;
}

.product_price {
    margin: 0 0 20px 0;
    padding-left: 15px;
    padding-right: 15px;
}

.product_price form {
    margin: auto;
}

/* Slider  */
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}